# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
*.lock
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/local.properties
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Generated
*.g.dart
*.freezed.dart

# OS
.DS_Store
